# Environment
.env

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.lock
build/
.packages
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart
